.highlight {
    color: rgb(145, 255, 0);
}

body {
    background-color: rgb(217, 220, 255);
}

.info {
    background-position: left top;
    background-image: url(../images/home-bg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: aqua;
    font-size: 70px;
}