body {
    background-color: rgb(217, 220, 255);
}

.info {
    background-position: left top;
    background-image: url(../images/info-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: rgb(209, 11, 212);
    font-size: 40px;
}

h3 {
    color: rgb(0, 98, 98);
    font-size: 16px;
    font-weight: bold;
}

p {
    color: rgb(19, 0, 77);
    font-size: 12px;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(187, 0, 255);
    padding: 8px;
    border: 2px solid rgba(215, 13, 218, 0.495);
    border-radius: 30%;
}

a:hover {
    color: rgb(179, 255, 0);
    font-weight: bold;
    padding: 8px;
    border: 2px solid rgba(215, 13, 218, 0.495);
    border-radius: 30%;
    background-color: rgba(215, 13, 218, 0.495);
}

.card {
    opacity: 0.85;
    width: 80%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    p {
        font-size: 18px;
    }
    
    .card {
        width: 50%;
    }

    h1 {
        font-size: 55px;
    }
}