a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(187, 0, 255);
    padding: 8px;
    border: 2px solid rgba(215, 13, 218, 0.495);
    border-radius: 30%;
}

a:hover {
    color: rgb(179, 255, 0);
    font-weight: bold;
    padding: 8px;
    border: 2px solid rgba(215, 13, 218, 0.495);
    border-radius: 30%;
    background-color: rgba(215, 13, 218, 0.495);
}

.home {
    background-position: left top;
    background-image: url(../images/leaderboard-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: rgb(205, 205, 32);
}

thead{
    color: rgb(248, 161, 228);
}

tbody {
    color: rgb(254, 244, 126);
    max-height: 70vh;
    overflow: scroll;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
}